html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html, body { height: 100%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }
#__nuxt, #__layout {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Montserrat', sans-serif; line-height: 1.5em; color: inherit; }
h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small { font-weight: normal; line-height: 1.1em; color: #333; }

h1 large, h1 .large, .h1 large, .h1 .large, h2 large, h2 .large, .h2 large, .h2 .large, h3 large, h3 .large, .h3 large, .h3 .large { font-size: 140%; line-height: 1em; }

h1, .h1, h2, .h2, h3, .h3 { margin-top: 21px; margin-bottom: 10.5px; }
h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small { font-size: 65%; }

h4, .h4, h5, .h5, h6, .h6 { margin-top: 10.5px; margin-bottom: 10.5px; }
h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small { font-size: 75%; }
.h5 .large { font-size: 110%; }
h1, .h1 { font-size: 42px; font-weight: 200; }

h2, .h2 { font-size: 36px; font-weight: 200; }

h3, .h3 { font-size: 30px; font-weight: 400; }

h4, .h4 { font-size: 24px; font-weight: 400; }

h5, .h5 { font-size: 18px; font-weight: 400; }

h6, .h6 { font-size: 14px; font-weight: 400; }

p {
  font: 500 14px/1.6em 'Open Sans', sans-serif;
}

@media screen and (max-width: 1200px) {
  h1, .h1 { font-size: 40px; }

  h2, .h2 { font-size: 34px; }

  h3, .h3 { font-size: 28px; }

  h4, .h4 { font-size: 22px; }

  h5, .h5 { font-size: 16px; }

  h6, .h6 { font-size: 14px; }

  h1, .h1, h2, .h2, h3, .h3 { margin-top: 12px; margin-bottom: 6px; }

  h4, .h4, h5, .h5, h6, .h6 { margin-top: 6px; margin-bottom: 6px; }
}

@media screen and (max-width: 992px) {
  h1, .h1 { font-size: 36px; }

  h2, .h2 { font-size: 30px; }

  h3, .h3 { font-size: 24px; }

  h4, .h4 { font-size: 18px; }

  h5, .h5 { font-size: 16px; }

  h6, .h6 { font-size: 14px; }

  h1, .h1, h2, .h2, h3, .h3 { margin-top: 12px; margin-bottom: 6px; }

  h4, .h4, h5, .h5, h6, .h6 { margin-top: 6px; margin-bottom: 6px; }
}

@media screen and (max-width: 992px) {
  h1, .h1 { font-size: 32px; }

  h2, .h2 { font-size: 28px; }

  h3, .h3 { font-size: 24px; }

  h4, .h4 { font-size: 18px; }

  h5, .h5 { font-size: 16px; }

  h6, .h6 { font-size: 14px; }

  h1, .h1, h2, .h2, h3, .h3 { margin-top: 4px; margin-bottom: 4px; }

  h4, .h4, h5, .h5, h6, .h6 { margin-top: 4px; margin-bottom: 4px; }
}



.el-main, .el-header, .el-footer {
  width: 100%;
  padding: 0;
}

.section {
  padding: 20px 0;
}

.large-container {
  max-width: 1640px;
  width: 100%;
  margin: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  box-sizing: border-box;
}
.container-slider {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1430px;
  width: 100%;
  box-sizing: border-box;
}

.default-button {
  font: 600 14px/14px 'Montserrat', sans-serif;
  color: #eee;
  background: #3f51b5;
  border: none;
  outline: none;
  letter-spacing: 1px;
}

.default-button:hover {
  background: #5c6bc0;
  color: #eee;
}

.large-button{
  padding: 23px 25px;
  border-radius: 32px;
}

.light-blue-bg {
  background: #f0f4fa;
}

.waves-bg {
  margin-top: 100px;
  background-color: #f0f4fa;
  background-size: 100% auto;
}

.gray-bg {
  background: #f8f9f9;
}

@media screen and (max-width: 567px){
  .hidden-xxs-only {
    display: none !important;
  }

  .el-col-xxs-offset-0 {
    margin-left: 0 !important;
  }

  .el-col-xxs-0 {
    width: 0 !important;
  }

  .el-col-xxs-offset-1 {
    margin-left: 4.16667% !important;
  }

  .el-col-xxs-1 {
    width: 4.16667% !important;
  }

  .el-col-xxs-offset-2 {
    margin-left: 8.33333% !important;
  }

  .el-col-xxs-2 {
    width: 8.33333% !important;
  }

  .el-col-xxs-offset-3 {
    margin-left: 12.5% !important;
  }

  .el-col-xxs-3 {
    width: 12.5% !important;
  }

  .el-col-xxs-offset-4 {
    margin-left: 16.66667% !important;
  }

  .el-col-xxs-4 {
    width: 16.66667% !important;
  }

  .el-col-xxs-offset-5 {
    margin-left: 20.83333% !important;
  }

  .el-col-xxs-5 {
    width: 20.83333% !important;
  }

  .el-col-xxs-offset-6 {
    margin-left: 25% !important;
  }

  .el-col-xxs-6 {
    width: 25% !important;
  }

  .el-col-xxs-offset-7 {
    margin-left: 29.16667% !important;
  }

  .el-col-xxs-7 {
    width: 29.16667% !important;
  }

  .el-col-xxs-offset-8 {
    margin-left: 33.33333% !important;
  }

  .el-col-xxs-8 {
    width: 33.33333% !important;
  }

  .el-col-xxs-offset-9 {
    margin-left: 37.5% !important;
  }

  .el-col-xxs-9 {
    width: 37.5% !important;
  }

  .el-col-xxs-offset-10 {
    margin-left: 41.66667% !important;
  }

  .el-col-xxs-10 {
    width: 41.66667% !important;
  }

  .el-col-xxs-offset-11 {
    margin-left: 45.83333% !important;
  }

  .el-col-xxs-11 {
    width: 45.83333% !important;
  }

  .el-col-xxs-offset-12 {
    margin-left: 50% !important;
  }

  .el-col-xxs-12 {
    width: 50% !important;
  }

  .el-col-xxs-offset-24 {
    margin-left: 100% !important;
  }

  .el-col-xxs-24 {
    width: 100% !important;
  }
}
